*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

#main{
    position:  relative;
    overflow: hidden;
    background-color:#1137ca ;
}
#page1{
    height: 100vh;
    width: 100vw;
    position: relative;
}
#page1>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page1>nav{
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 35px;
    height: 10vh;
    width: 100vw;
    position: absolute;
}
#page1 nav h1{
    -webkit-text-stroke: 1px rgb(162, 209, 161);
    color: white;
    font-size: 25px;
}
#right-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
#right-nav>button:first-child{
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid white;
    background-color: #0b4bed;
    color: white;
    font-size: 16px;
}

#right-nav>button:last-child{
    font-size: 16px;
    padding: 3px 15px;
    border-radius: 50px;
    border: 1px solid white;
    background-color: #0b4bed;
    /* filter: invert(); */
}
#right-nav>button>img{
    margin-top: 3px;
    filter: invert();
}
.bottom-page1{
    position: absolute;
    color: white;
    left: 12%;
    bottom: 15%;
    height: 30vh;
    /* background-color: red; */
    width: 35vw;
}
.bottom-page1>h1{
    font-weight: 100;
    line-height: 1;
    font-size: 50px;
}
.bottom-page1-inner{
    position: absolute;
    height: 40%;
    width: 100%;
    bottom: 0%;
    
}
.bottom-page1-inner{
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.bottom-page1-inner>button{
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    background-color: white;
    color: #0b4bed;
    font-weight: 500;
    font-size: 16px;
}
.bottom-page1-inner>h3{
    font-size: 1.2rem;
    font-weight: bolder;
    color: white;
}

#page2{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #0941ce;
    position: relative;
    color: #fff;
}

#page2>h3{
    padding: 0vw 7vw;
    margin-bottom: 3vh;
    font-weight: 100;
}
#page2>h1{
    padding: 0vw 7vw;
    line-height: 1.2;
    font-weight: 100;
    font-size: 3vw;
    color: rgba(148, 141, 141, 0.836);
}

#page3{
    height: 100vh;
    width: 100vw;
    background-color: #0941ce;
}
#page3>canvas{
    max-width: 100vw;
    max-height: 100vh;
}


#page4{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color:#1137ca;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}


#page4>h3{
    margin-left: 15vw;
    margin-bottom: 2rem;
}
#page4>h1{
    margin-left: 15vw;
    width: 70%;
    font-weight: 100;
    font-size: 3vw;
    color: rgba(167, 162, 162, 0.836);
}



#page5{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page5>canvas{
    position: relative;
    max-height: 100vh;
    max-width: 100vw;
}

#page6{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #1137ca;
    display: flex;
    align-items: start;
    justify-content: center;
    color: #fff;
    flex-direction: column;
}

#page6>h3{
    margin-left: 15vw;
    margin-bottom: 2rem;
}
#page6>h1{
    margin-left: 15vw;
    width: 70%;
    font-weight: 100;
    font-size: 3vw;
    color: rgba(167, 162, 162, 0.836);
}


#page7{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #2d50da8c;
}

#page7>canvas{
    max-width: 100vw;
    max-height: 100vh;
    position: relative;
}

#page7 #page7-cir{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    border: 1px solid white;
}
.page7-cir-inner{
    height: 70%;
    width: 70%;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid white;
}

#page8{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0941ce;
}
#page8>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.page8-bottom{
    position: absolute;
    bottom: 18%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}
.page8-bottom>h1{
    color:white;
    font-weight: 100;
    margin-bottom: 2vw;
    font-size: 80px;
}
.page8-bottom>button{
    padding: 15px 40px;
    border-radius: 30px;
    color: #0941ce;
    font-size: 12px;
    outline: none;
    border: none;
}
#page9{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #1137ca;
    display: flex;
}
#page9-inner{
    display: flex;
    width: 80%;
    margin-top: 20vh;
    padding: 2rem;
}
.page9-left{
    display: flex;
    justify-content: flex-start;
    width: 40%;
    color: white;
}
.page9-left h1{
    font-size: 70px;
    font-weight: 100;
}
.page9-right{
    width: 80%;
    display: flex;
    margin-bottom: 3rem;
    flex-direction: column;
    align-items: center;
    color: white;
}
.page9-right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.page9-right div{
    width: 100%;
    margin-top: 10vh;
}
.page9-right div h1{
    margin-bottom: 12px;
    font-weight: 100;
    font-size: 22px;
}
.page9-right div p{
    font-size: 22px;
    line-height: 1.3;
    color: #ffffffb4;
}
#page10{
    width: 100vw;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
#page10
>h1{
    padding-top: 3rem;
    margin-left: 6rem;
    font-size: 5vw;
    font-weight: 100;
}
.page10-inner{
    color: rgb(97, 96, 96);
    padding: 1rem;
    display: flex;
    width: 80%;
    gap: 4rem;
    margin: auto;
}
.page10-inner .img-upper{
    height: 200px;
    width: 600px;
    overflow: hidden;
    border-radius: 20px;
}
.page10-inner .img-upper .image {
    background-image: url("https://thisismagma.com/wp-content/uploads/2023/12/thisismagma.com-magma-bringing-bringin-tangible-value-to-nfts.jpeg");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    object-fit: cover;
    transition: all .5s ease-in-out;
}

.page10-inner .img-upper:hover .image,
.page10-inner .img-upper:hover .image1,
.page10-inner .img-upper:hover .image2 {
    transform: scale(1.035);
}

.page10-inner .img-upper .image1 {
    background-image: url("https://thisismagma.com/wp-content/uploads/2023/11/thisismagma.com-magma-welcomes-alejandro-laplana-to-its-advisory-board-screenshot-2023-11-30-at-13.43.46.png");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    object-fit: cover;
    transition: all .5s ease-in-out;
}
.page10-inner .img-upper .image2 {
    background-image: url("https://thisismagma.com/wp-content/uploads/2023/11/thisismagma.com-magma-devoile-sa-plateforme-ce-15-novembre-linkedin-cover---magma.png");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    object-fit: cover;
    transition: all .5s ease-in-out;
}

.page10-inner .blog-details{
    display: flex;
    flex-direction: column;;
    justify-content: center;
    align-items:flex-start;
}
.page10-inner .blog-details>h1{
    font-size: 20px;
    margin-top: 1rem;
}

#page10 .btn{
    width: max-content;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 20px;
    color: blue;
    padding: 10px 30px;
    text-align: center;
    margin-bottom: 40px;
}

#page11{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #1137ca;
}
.page11-inner{
    position: absolute;
    top: 30%;
    right: 18%;
    width: 32%;
    color: white;
}
.page11-inner>h1{
    font-size: 5.1vw;
    font-weight: 100;
}
.page11-inner>p{
    font-size: 1.2vw;
    margin-top: 20px;
    line-height: 1.9;
    color: #ffffffd3;
}

#page12 {
    position: relative;
    width: 100vw;
    height: 80vh;
    background-color: #000000;
}

.page12-inner {
    position: absolute;
    top: 20%;
    left: 8%;
    width: 40%;
    color: white;
}

.page12-inner > h1 {
    font-size: 5.8vw;
    font-weight: 100;
}

.page12-inner button {
    position: relative;
    margin-top: 4vw;
    margin-left: 20px;
    width: max-content;
    padding: 15px 35px;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: #1137ca;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
}

.page12-inner button .btn-inner{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    transform: translate(0%, 100%);
    background-color: white;
    transition: all ease 0.3s;    
}
.page12-inner button:hover .btn-inner{
    transform: translate(0%, 0%);
    z-index: 9;
}

.page12-inner button:hover span{
    z-index: 99999;
    position: relative;
    color:#0b3bb6;
}


#page13{
    height: 60vh;
    width: 100vw;
    background-color: #000;
}

.page13-inner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 33.3%;
    padding: 0vw 5vw;
    width: 100%;
    border-top: 0.2px solid #ffffff2d;
    border-top: 0.2px solid #ffffff21;
}
.page13-inner>h1{
    position: relative;
    color: white;
    left: 5%;
    font-weight: 100;
    font-size: 2.6vw;
    z-index: 999;
}
.page13-inner>i{
    position: relative;
    color: white;
    font-size: 2vw;
    transform: rotate(45deg);
    z-index: 999;
}

.page13-inner .center{
    position: absolute;
    background-color:#0b3bb6;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 0%;
    transition: all ease .5s;
}

.page13-inner:hover .center{
    height: 100%;
}